
/* Nav Bar */
.nav-bar{
    height: 12vh;
    width: 100%;
    background-color: #1a1a1a;
    float: left;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 1;
}
@font-face {
    font-family: Pacifico;
    src: url('/fonts/Pacifico.ttf');
}

.active {
    background-color: red;
}

.logo-nav {
    float: left;
    margin-left: 3vw;
    margin-top: 3vh;    
}

.logo-nav a {
    font-family: Pacifico;
    font-size: 2vw;
    text-decoration: none;
    color: white;
}
.nav-buttons{
    float: right;
    left: -100%;
    margin-right: 3vw;
}
.nav-buttons a {
    display: inline-block;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 5vh 0 0 4vw;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-buttons a:hover {
    color: grey;
}

.checkbtn{
    float: right;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media screen and (max-width: 1075px) {
    .checkbtn{
        display: none;
    }       
}
@media screen and (max-width: 951px) {
    .checkbtn{
        display: block;
        margin: 4vh 4vw 0 0;
        color: white;
    }
    /* .nav-buttons a.active {
        color: grey;
    } */
    .nav-buttons a{
        font-size: 4vh;
        color: white;
        margin-right: 50%;
        font-size: 4vw;
    }  
    .nav-buttons a:hover {
        color: grey;
    }
    /* .nav-buttons a.active:hover {
        color: none;
    } */
    .nav-buttons{
        margin-top: 12vh;
        background-color: #1a1a1a;
        position: fixed;
        left: 0;
        transition: all .5s;
        padding-bottom: 2vh;
        margin-right: 0;
    }  
    .logo-nav {
        margin-left: 4vw;
        margin-top: 2vh;
    } 
    .logo-nav a {
        font-size: 5vh;
    }
    #check:checked ~ .nav-buttons{
        left:-100%;
        opacity: 0;
    }
    #check:checked ~ .nav-buttons{
        left:-100%;
        opacity: 0;
    }
}